* {
  padding: 0;
  margin: 0;
}

.contact_with_case_container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
