* {
  padding: 0;
  margin: 0;
}

.stats_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie_chart {
  width: 20%;
  min-width: 250px;
  height: 150px;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.bar_chart {
  width: 90%;
  min-height: 200px;
  margin: 20px 0px;
  display: inline-block;
  position: relative;
  z-index: 0;
}
